html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.bg-yellow {
    background-image: url("../images/Site-background-light.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 90px;
}
.container-color {
    background-color: #9eeaf9;
}